
body{
    background-color: #112337;
}

.heroimage{
    
    margin-top:50px;
    display: flex;
    /* flex-direction:column; */
    justify-content:center;
    align-items: center;
    background-color: #112337;
   padding: 20px;

}

.Line
{
    display: block;
    padding: 1px;
    background-color: #01b59a;
}